#davy-sidebar {
  text-align: center;
  position: fixed;
  top: 10%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 14rem;
  height: 100vh;
  overflow: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1000;
}
#toggleSideBarBtn{
    position: relative;
    width: 2rem;
    left: -1rem;
    top:0;
    background-color: red;
}

#davy-content{
  margin-right: 14rem;
  background-color:#f5f5f5;
  height: 100vh;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 #chat-footerbar{
   height: 525px;
   position: fixed;
   bottom: 1rem;
   right: 0;
   margin-right: 14rem;
   flex-direction: row;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
 }

 #wrapper.toggle #davy-sidebar{
   right:-11rem;
 }
 #wrapper.toggle #davy-content, #wrapper.toggle #chat-footerbar{
   margin-right: 3rem;
 }

 .container{max-width:1170px; margin:auto;}
 img{ max-width:100%;}
 .inbox_people {
   background: #f8f8f8 none repeat scroll 0 0;
   float: left;
   overflow: hidden;
   width: 40%; border-right:1px solid #c4c4c4;
 }
 .inbox_msg {
   border: 1px solid #c4c4c4;
   clear: both;
   overflow: hidden;
 }
 .top_spac{ margin: 20px 0 0;}


 .recent_heading {float: left; width:40%;}
 .srch_bar {
   display: inline-block;
   text-align: right;
   width: 60%; padding:
 }
 .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

 .recent_heading h4 {
   color: #05728f;
   font-size: 21px;
   margin: auto;
 }
 .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
 .srch_bar .input-group-addon button {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: medium none;
   padding: 0;
   color: #707070;
   font-size: 18px;
 }
 .srch_bar .input-group-addon { margin: 0 0 0 -27px;}

 .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
 .chat_ib h5 span{ font-size:13px; float:right;}
 .chat_ib p{ font-size:14px; color:#989898; margin:auto}
 .chat_img {
   float: left;
   width: 11%;
 }
 .chat_ib {
   float: left;
   padding: 0 0 0 15px;
   width: 88%;
 }

 .chat_people{ overflow:hidden; clear:both;}
 .chat_list {
   border-bottom: 1px solid #c4c4c4;
   margin: 0;
   padding: 18px 16px 10px;
 }
 .inbox_chat { height: 550px;}

 .active_chat{ background:#ebebeb;}

 .chat-avatar {
   display: inline-block;
   width: 25px;
 }
 .received_msg {
   display: inline-block;
   padding: 0 0 0 10px;
   vertical-align: top;
   width: 92%;
  }
  .received_withd_msg p {
   background: #ebebeb none repeat scroll 0 0;
   border-radius: 3px;
   color: #646464;
   font-size: 14px;
   margin: 0;
   padding: 5px 10px 5px 12px;
   width: 100%;
 }
 .time_date {
   color: #747474;
   display: block;
   font-size: 12px;
   margin: 8px 0 0;
 }
 .received_withd_msg { width: 70%;}

 .mesgs {
   float: right;
   padding: 0px 15px 0 15px;
   width: 20rem;
   background-color: #f4f2f2;
 }

  .sent_msg p {
   background: #05728f none repeat scroll 0 0;
   border-radius: 3px;
   font-size: 14px;
   margin: 0; color:#fff;
   padding: 5px 10px 5px 12px;
   width:100%;
 }
 .outgoing_msg{ overflow:hidden; margin:10px 0 10px;}
 .sent_msg {
   float: right;
   width: 70%;
 }
 .input_msg_write input {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: medium none;
   color: #4c4c4c;
   font-size: 15px;
   min-height: 48px;
   width: 100%;
 }

 .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
 .msg_send_btn {
   background: #05728f none repeat scroll 0 0;
   border: medium none;
   border-radius: 50%;
   color: #fff;
   cursor: pointer;
   font-size: 17px;
   height: 33px;
   position: absolute;
   right: 0;
   top: 11px;
   width: 33px;
 }
 .messaging { padding: 0 0 50px 0;}
 .messaging-nav{
   background-color: #05728f;
   display: inline-table;
 }

 .messaging-nav p {
   color: white;
   font-size: 21px;
   font-family: Oswald;
 }
 .messaging-nav span{
    margin-right: 0;
 }
 .msg_history {
   height: 416px;
   overflow-y: auto;
 }



 .chatbox-down {
   position: relative;
   bottom: -395px;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
 }


 .input_msg_write input {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: medium none;
   color: #4c4c4c;
   font-size: 15px;
   min-height: 48px;
   width: 15rem;
 }






 @import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
 @import url(https://fonts.googleapis.com/css?family=Open+Sans);

.chatbox-head {
     background-color: #05728f;
     clear: both;
     color: #fff;
     display: inline-table;
     font-size: 21px;
     padding: 7px 10px;
     width: 20rem;
     font-family: Oswald;
}

.chatbox-head .chatbox-head-right {
     margin: 11px 7px 0;
 }
 .chatbox-head-left img {
     border: 1px solid #7b7b7b;
     border-radius: 50%;
     width: 44px;
 }


 .chatbox-head-right .btn-group {
     display: inline-flex;
   	margin: 0 8px 0 0;
   	vertical-align: top !important;
 }
 .chat-header-button {
     background: transparent none repeat scroll 0 0;
     border: 1px solid #fff;
     border-radius: 50%;
     font-size: 14px;
     height: 30px;
     width: 30px;
 }
 .chatbox-head-right .btn-group .dropdown-menu {
     border: medium none;
     min-width: 122px;
 	padding: 0;
 }
 .chatbox-head-right .btn-group .dropdown-menu li a {
     font-size: 12px;
     padding: 3px 10px;
 	color: #303030;
 }
 .chat-header-button {
  color: white;
 }



 .chatboxToggle {
   height: 0px;
   margin-top:455px;
 }
 .chatboxHidden {
   display: none;
 }
