<template>
<div class="mesgs">
      <div v-bind:id="'chat-scroll'+otherid" class="msg_history">
        <div class="outgoing_msg" v-for="chat in chats" v-if="chat.user_id == userid">
        <div class="sent_msg">
          <p>{{ chat.chat }}</p>
        </div>
        </div>
        <div class="incoming_msg" v-else>
          <div class="received_msg">
            <div class="chat-avatar"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="received_withd_msg">
              <p>{{ chat.chat }}</p>
            </div>
          </div>
        </div>
    </div>

  <div class="type_msg">
      <chat-composer v-bind:userid="userid" v-bind:chats="chats" v-bind:otherid="otherid"></chat-composer>
  </div>
</div>
</template>

<script>
    export default {
        props: ['chats', 'userid', 'otherid']
    }
</script>
