<template lang="html">
    <div class="input_msg_write">
      <input type="text" class="write_msg" placeholder="Type a message" v-on:keyup.enter="sendChat" v-model="chat"/>
      <button class="msg_send_btn" type="button" v-on:click="sendChat"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
    </div>
</template>

<script>
    export default {
        props: ['chats', 'userid', 'otherid'],
        data() {
            return {
                chat: ''
            }
        },
        methods: {
            sendChat: function(e) {
                $('#chat-scroll'+this.otherid).animate({
                      scrollTop: $('#chat-scroll'+this.otherid).get(0).scrollHeight}, 2000);
                if (this.chat != '') {
                    var data = {
                        chat: this.chat,
                        other_id: this.otherid,
                        user_id: this.userid
                    }
                    this.chat = '';
                    axios.post('/chat/sendChat', data).then((response) => {
                        this.chats.push(data)
                    })
                }
            }
        }
    }
</script>
