<template>

<div class="messaging">
  <div style="display:flex;">
  <div class="chatbox-head">
        <div class="chatbox-head-left pull-left">
          <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
        {{ othername }}</div>
        <div class="chatbox-head-right pull-right">
          <button  class="btnClose chat-header-button pull-right" type="button"><i class="fas fa-window-close"></i></button>
        </div>
        <div class="chatbox-head-right pull-right">
          <button  class="btnToggle chat-header-button pull-right" type="button"><i class="fa fa-arrow-down"></i></button>
        </div>
    </div>
  </div>
    <chat v-bind:chats="chats" v-bind:userid="userid" v-bind:otherid="otherid"></chat>
</div>

</template>

<script>

    export default {
        props: ['chats', 'userid', 'otherid', 'othername']
    }
</script>
