<template>
  <div class="chat_list">
    <meta v-bind:name="'user'+newuser.id" v-bind:content="newuser.name"></meta>
    <div class="chat_people">
      <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
      <div class="chat_ib">
          <div  v-on:click="" class="d-flex justify-content-between align-items-center w-100">
            <h5>{{ newuser.name }} </h5>
            <onlineuser v-bind:user="newuser.id" v-bind:onlineusers="onlineusers"></onlineuser>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        props: ['newuser','userid','onlineusers']
    }
</script>
